html,
body,
body #root {
  width: 100vw;
  height: 100vh;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}

@font-face {
  font-family: "Orbitron";
  font-style: normal;
  src: url("/public/fonts/Orbitron.ttf");
}

body {
  font-family: "Orbitron" !important;
}

::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar-track {
  display: none !important;
}

::-webkit-scrollbar-thumb {
  display: none !important;
}
